*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

/*VARIABLES*/

:root {
    --color__primario: #D4A373;
    --color__secundario: #FAEDCD;
    --color__ter: #FEFAE0;
    --color__cuart: #E9EDC9;
    --color__quint: #CCD5AE;
    --color__sext: #36210d;
    --color__sept: #536221;
    --type__primario: 'Berkshire Swash', cursive;
    --type__secundario: 'Domine', serif;

}

/*LANDING*/

html {
    scroll-behavior: smooth
}

/*CUERPO*/

body {
    background-color: var(--color__ter);
}

.container{
    display: flex;
    width: auto;
    max-width: 1700px;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}

h1 {
    font-family: var(--type__primario);
    color: #36210d;
}

a {
    padding: .8em 1em;
    color: var(--color__sext);
    font-family: var(--type__secundario);

}

a:hover {
    padding: .8em 1em;
    color: var(--color__ter);
    font-family: var(--type__secundario);
    
}

/*HEADER*/

nav {
    background-color: var(--color__sext);
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 1em;

}

nav .container .mjs {
    padding-left: 2em;
    width: 40%;
}

nav .nav {
    padding: 1em 0em;
    margin-right: 12em;
    width: 70%;
}


nav .container ul li {
    display: inline;
    padding: .2em;
}

nav .container ul li a{
    font-size: 1em;
    color: var(--color__ter);
    padding: .8em 1em;
    border-radius: 20px;
    font-family: var(--type__secundario);
}

nav .container ul li a:hover{
    color: var(--color__ter);
    background-color: var(--color__primario);
    font-family: var(--type__secundario);
}


/*SECCIONES*/

section .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 70%;
    height: 95vh;
    max-width: 1700px;
    margin: auto;
    text-align: center;
    color: var(--color__sext);
    font-size: 1.4em;
}

section .wrap1 {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 70%;
    height: 95vh;
    max-width: 1700px;
    margin: auto;
    color: var(--color__sext);
    font-size: 1.4em;
}

section .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 70%;
    max-width: 1700px;
    margin: auto;
    text-align: center;
    color: var(--color__sext);
    font-size: 1.4em;
}

.bienvenida .down {
    margin-top: 2em;
}

.bienvenida {
    background-color: var(--color__secundario);
}

.bienvenida .container {
    width: 70%;
}

.bienvenida img {
    width: 80%;
}

.bienvenida .wrap {
    background-color: var(--color__quint);
    padding: 2em;
}

.bienvenida .wrap h1 {
    font-size: 2.5em;
    margin-bottom: 1.2em;
}

/*SERVICIOS*/

.servicios {
    background-color: var(--color__sept);
}

.servicios .serv {
    width: 60%;
    height: auto;
    margin-top: 1.2em;
}

.servicios h1 { 
    font-size: 2.5em;
    text-align: center;
    padding: 4em 0em 1.2em 0em;
}

.servicios .link {
    font-size: 1.5em;
    padding: 4em 0em 3em 0em;
    text-align: center;

}

.servicios .link a {
    border-radius: 20px;
    background-color: var(--color__secundario);

}

.servicios .container {
   width: 70%;
   
}

/*PORTAFOLIO*/

.portafolio {
    background-color: var(--color__cuart);
    padding-bottom: 4em;
}

.portafolio h1 {
    font-size: 2em;
    text-align: center;
    padding-top: 3em;
}

.portafolio p {
    margin: 1.2em 0em 3em 0em;
}

/*CONTACTO*/

.contacto {
    background-color: var(--color__secundario);
}

.contacto .container {
    width: 60%;
}

.contacto .wrap1 {
    background-color: var(--color__sept);
    color: var(--color__ter);
    padding-left: 4em;
}

.contacto .wrap1 h1 {
    font-size: 2em;
    color: var(--color__ter);
    margin-bottom: 1em;
}

.contacto .wrap1 h2 {
    font-family: var(--type__secundario);
    font-size: 1em;
    
}

.contacto .wrap1 p {
    font-size: 0.8em;
    padding-bottom: 1em;
}

.contacto .wrap h3 {
    background-color: #D4A373;
    padding: 0.4em;
    margin-bottom: 1em;
    font-size: 1em;
}

.contacto .link {
    border-radius: 20px;
    background-color: var(--color__sept);
}
    

/*SOBRE MI*/

.sobremi {
    background-color: var(--color__quint);
}

.sobremi .container {
    width: 60%;

}

.sobremi h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.sobremi img{
    width: 100%;
    padding-left: 2em;
}

/*FOOTER*/

footer .container{
    width: 85%;
    padding: 2em 0em;
}

footer ul li {
    text-align: right;
    list-style: none;
}

footer ul li a:hover {
    text-align: right;
    list-style: none;
    color: var(--color__sept);
}

footer h2 {
    padding-right: 0.6em;
    font-family: var(--type__secundario);
}

/*RESPONSIVE*/

/* ##Dispositivo = Tablets, Ipads (horizontal) 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px)  {
    
   

    p {
        font-size: 0.7em;
    }

    nav {
        background-color: var(--color__sext);
        position: fixed;
        width: auto;
        z-index: 2;
        padding: 0.5em;
    
    }
    
    nav .container {
        width: 80%;

    }

    nav .container img {
        padding-left: 0em;
        width: 70%;
    }
    
    nav .nav {
        padding: 1em 0em;
        margin-right: 0em;
        width: 100%;
    }
    
    
    nav .container ul li {
        display: inline;
        padding: 0em;
    }
    
    nav .container ul li a{
        font-size: 0.7em;
        color: var(--color__ter);
        padding: .5em 0.5em;
        border-radius: 20px;
        font-family: var(--type__secundario);
    }

    .bienvenida .wrap h1 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    .servicios h1 { 
        font-size: 2em;
        text-align: center;
        padding: 1em 0em 1.2em 0em;
    }

    .portafolio h1 {
        font-size: 2em;
        text-align: center;
        padding-top: 1em;
    }

    .contacto .wrap1 {
        background-color: var(--color__sept);
        color: var(--color__ter);
        padding-left: 1em;
    }

    .sobremi .container {
        width: 70%;
    
    }

    footer h2 {
        text-align: right;
        font-family: var(--type__secundario);
    }
    
    .container{
        display: flex;
        width: auto;
        max-width: 1700px;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    
    }

    section .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 70%;
        height: 50vh;
        max-width: 1700px;
        margin: auto;
        text-align: center;
        color: var(--color__sext);
        font-size: 1.4em;
    }
    
    section .wrap1 {
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 70%;
        height: 60vh;
        max-width: 1700px;
        margin: auto;
        color: var(--color__sext);
        font-size: 1.4em;
    }
    
    section .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 70%;
        max-width: 1700px;
        margin: auto;
        text-align: center;
        color: var(--color__sext);
        font-size: 1.4em;
    }
}

/* ##Dispositivo = Tablets, Mobiles de 481px a 767px */
@media (min-width: 481px) and (max-width: 767px) {
    p {
        font-size: 0.5em;
    }
    
    nav {
        width: auto;
        padding: 0.5em;
    }

    nav .container{
        width: 80%;
        padding: 0.2em;
        flex-direction: column;
    }
    
    nav .container .mjs {
        padding-left: 0em;
        width: 70%;
    }

    nav .container img {
        width: 100%;
    }
    
    nav .nav {
        padding: 1em 0em;
        margin: 0em;
        width: 100%;
    }
    
    
    nav .container ul li {
        display: inline;
        padding: 1em;
    }
    
    nav .container ul li a{
        font-size: 0.5em;
        color: var(--color__ter);
        padding: .8em 0.2em;
        border-radius: 20px;
        font-family: var(--type__secundario);
    }
    
    nav .container ul li a:hover{
        color: var(--color__ter);
        background-color: var(--color__primario);
        font-family: var(--type__secundario);
    }

    .bienvenida .wrap h1 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    .servicios h1 { 
        font-size: 2em;
        text-align: center;
        padding: 1em 0em 1.2em 0em;
    }

    .servicios .link {
        font-size: 0.7em;
        padding: 4em 0em 3em 0em;
        text-align: center;
    
    }

    .portafolio h1 {
        font-size: 1.2em;
        text-align: center;
        padding-top: 1em;
    }

    .contacto .wrap1 {
        background-color: var(--color__sept);
        color: var(--color__ter);
        padding-left: 1em;
    }

    .contacto .wrap1 h1 {
        font-size: 1em;
        color: var(--color__ter);
        margin-bottom: 1em;
    }
    
    .contacto .wrap1 h2 {
        font-family: var(--type__secundario);
        font-size: 0.5em;
        
    }
    
    .contacto .wrap1 p {
        font-size: 0.5em;
        padding-bottom: 1em;
    }
    
    .contacto .wrap h3 {
        background-color: #D4A373;
        padding: 0.4em;
        margin-bottom: 0.5em;
        font-size: 0.5em;
    }
    
    .contacto .link {
        border-radius: 20px;
        background-color: var(--color__sept);
        font-size: 0.5em;
    }

    .sobremi .container {
        width: 70%;
    
    }
    
    .sobremi h1 {
        font-size: 1em;
        margin-bottom: 1em;
    }

    .sobremi p {
        font-size: 0.5em;
    }
    
    .sobremi img{
        width: 100%;
        padding-left: 2em;
    }

    footer h2 {
        font-size: 0.5em;
        text-align: right;
        font-family: var(--type__secundario);
    }

    footer ul li {
        font-size: 0.5em;
        text-align: right;
        list-style: none;
    }

    footer h1 {
        font-size: 1em;
    }

    .container{
        display: flex;
        width: auto;
        max-width: 1700px;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    
    }

    section .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 70%;
        height: 50vh;
        max-width: 1700px;
        margin: auto;
        text-align: center;
        color: var(--color__sext);
        font-size: 1.4em;
    }
    
    section .wrap1 {
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 70%;
        height: 50vh;
        max-width: 1700px;
        margin: auto;
        color: var(--color__sext);
        font-size: 1.4em;
    }
    
    section .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 70%;
        max-width: 1700px;
        margin: auto;
        text-align: center;
        color: var(--color__sext);
        font-size: 1.4em;
    }  
}

/* ##Dispositivo = Smartphones de 320px a 479px */
@media (min-width: 320px) and (max-width: 480px) {
    p {
        font-size: 0.5em;
    }
    
    nav {
        width: auto;
        padding: 0.5em;
    }

    nav .container{
        width: 80%;
        padding: 0.2em;
        flex-direction: column;
    }
    
    nav .container .mjs {
        padding-left: 0em;
        width: 70%;
    }

    nav .container img {
        width: 100%;
    }
    
    nav .nav {
        padding: 1em 0em;
        margin: 0em;
        width: 100%;
    }
    
    
    nav .container ul li {
        display: inline;
        padding: 1em;
    }
    
    nav .container ul li a{
        font-size: 0.5em;
        color: var(--color__ter);
        padding: .8em 0.2em;
        border-radius: 20px;
        font-family: var(--type__secundario);
    }
    
    nav .container ul li a:hover{
        color: var(--color__ter);
        background-color: var(--color__primario);
        font-family: var(--type__secundario);
    }

    .bienvenida .wrap h1 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    .servicios h1 { 
        font-size: 2em;
        text-align: center;
        padding: 1em 0em 1.2em 0em;
    }

    .servicios .link {
        font-size: 0.7em;
        padding: 4em 0em 3em 0em;
        text-align: center;
    
    }

    .portafolio h1 {
        font-size: 1.2em;
        text-align: center;
        padding-top: 1em;
    }

    .contacto .wrap1 {
        background-color: var(--color__sept);
        color: var(--color__ter);
        padding-left: 0.2em;
    }

    .contacto .wrap1 h1 {
        font-size: 1em;
        color: var(--color__ter);
        margin-bottom: 1em;
    }
    
    .contacto .wrap1 h2 {
        font-family: var(--type__secundario);
        font-size: 0.5em;
        
    }
    
    .contacto .wrap1 p {
        font-size: 0.5em;
        padding-bottom: 1em;
    }
    
    .contacto .wrap h3 {
        background-color: #D4A373;
        padding: 0.4em;
        margin-bottom: 0.5em;
        font-size: 0.5em;
    }
    
    .contacto .link {
        border-radius: 20px;
        background-color: var(--color__sept);
        font-size: 0.5em;
    }

    .sobremi .container {
        width: 70%;
    
    }
    
    .sobremi h1 {
        font-size: 1em;
        margin-bottom: 1em;
    }

    .sobremi p {
        font-size: 0.5em;
    }
    
    .sobremi img{
        width: 100%;
        padding-left: 2em;
    }

    footer h2 {
        font-size: 0.5em;
        text-align: right;
        font-family: var(--type__secundario);
    }

    footer ul li {
        font-size: 0.5em;
        text-align: right;
        list-style: none;
    }

    footer h1 {
        font-size: 1em;
    }

    .container{
        display: flex;
        width: auto;
        max-width: 1700px;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    
    }

    section .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 70%;
        height: 50vh;
        max-width: 1700px;
        margin: auto;
        text-align: center;
        color: var(--color__sext);
        font-size: 1.4em;
    }
    
    section .wrap1 {
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 70%;
        height: 50vh;
        max-width: 1700px;
        margin: auto;
        color: var(--color__sext);
        font-size: 1.4em;
    }
    
    section .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        width: 70%;
        max-width: 1700px;
        margin: auto;
        text-align: center;
        color: var(--color__sext);
        font-size: 1.4em;
    }
}

/*SLIDER*/

.swiper {
    width: 100%;
    height: 60%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: 80%;
  }

  .swiper-slide:nth-child(2n) {
    width: 60%;
  }

  .swiper-slide:nth-child(3n) {
    width: 40%;
  }

/*FIN DE SLIDER*/
